* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Poppins', sans-serif;
    background: linear-gradient(135deg, #aedf3b, #e9eaf0);
    color: white;
}


header {
    padding: 80px 20px 40px 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 20px;
}

h1 {
    font-family: 'Playfair Display', serif;
    font-size: 3.5rem;
    background: linear-gradient(90deg, #ff8a00, #e52e71);
    
}

.intro {
    margin-top: 20px;
    max-width: 700px;
    font-size: 1.1rem;
    color: black;
    margin-bottom: 20px;
}

section {
    padding: 80px 10%;
}

h2 {
    text-align: center;
    margin-bottom: 40px;
    font-size: 2rem;
    color: #3328a5;
}


.skills-container {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 20px;
}

.skill {
    background: rgb(255, 255, 255);
    padding: 15px 25px;
    border-radius: 30px;
    color: #000;
}


.projects-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: 30px;
}

.project-card {
    background: rgba(255,255,255,0.08);
    padding: 20px;
    border-radius: 15px;
    color: #000;
}

.video-placeholder {
    width: 100%;
    height: 200px;
    background: #000;
    border-radius: 10px;
    margin-bottom: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    font-size: 0.9rem;
    opacity: 0.7;
}


.about-me {
    text-align: center;
    max-width: 800px;
    margin: auto;
    color: #000;
    
}


footer {
    text-align: center;
    padding: 20px;
    background: rgb(114, 111, 111);
    font-size: 0.9rem;
}


@media(max-width: 768px) {
    h1 {
        font-size: 2.3rem;
    }
}
